:root {
  --font-family: 'Inter', sans-serif;

  --color-desc:#697488;

  --color-voir:#034077;

  --bg-button-devis:#263e7a;

  --color-serv-big-titles:#012241;

  --color-Rate-title-desc:#051036;

  --color-log-signup:#697488;

  --bg-sub-section:#0D2857;

  --bg-button:#3554D1;

  --bg-Rating:#CDE9F6;

}
