.subA__login-container {
  display: flex;
  justify-content: center;
  background-image: url(./assets/bg_login.jpg);
  align-items: center;
  height: 100vh;
}
.subA__login-welcome {
  font-weight: 600;
}
.subA__login-container form {
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 10px;
  width: 600px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}
.subA__login-container input {
  margin: 1rem 2rem;
  height: 50px;
  padding: 1.5rem;
  border: 1px solid #dddddd;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  outline-color: #263e7a;
  color: var(--color-serv-big-titles);
}
.subA__login-container input::placeholder {
  color: #697488;
}
.subA__login-container button {
  margin: 0.2rem 2rem;
  padding: 0.8rem 1rem;
  background-color: var(--bg-button);
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
}
/* Add this to your existing CSS or create a new CSS file */
.subA__login-error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

.subA__login-container a {
  margin: 0;
  text-decoration: none;
}
.subA__login-container button:hover {
  background-color: #2f49b5;
}
@media screen and (max-width: 700px) {
  .subA__login-container form {
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: #e5f0fd;
  }
}
